
@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(95, 89, 89);
    font-family: "Patua One", serif;
    display: flex;
    /* transition: background-color; */
}

.player{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-head{
    height: 35vh;
    width: 30vw;
    background-color: aquamarine;
    border-radius: 20px;
}

.songSlider-Playlist{
 display: flex;
}

.songSlider-Playlist img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    z-index: 0;
    /* transform: translateY(-25px); */
}

.songList{
    position: absolute;
    z-index: 1;
    border-radius: 8px;
    background-color: transparent;
    transform: translate(5px,5px);    
}

.play{
    position: absolute;
    z-index: 1;
    background-color: transparent;
    transform: translate(110px,100px);
}
.pause{
    position: absolute;
    z-index: 1;
    background-color: transparent; 
    transform: translate(110px,100px); 
}

.fadeOut{
    opacity: 0;
}

.user-control{
    display: flex;
}

.play-previous{
    background-color: transparent;
}

.play-next{
    background-color: transparent;
}
  